{% extends 'base.html' %}


{% block category %}
			<div class="cd-tab-filter">
				<ul class="cd-filters">
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
{% endblock category %}
{% block body %}
<div class="cd-md">
<h1>{{ book.name }}</h1>
<div id="mainpic" class="">
    <img src="{{ book.cover_thumbnail.url }}"alt="流行音乐基本乐理">
</div>
<div id="info" class="">
      <span class="pl">作者：</span><span class="text">{{ book.author }}</span><br>
<span class="pl">出版社：</span><span class="text">{{ book.press }}</span><br>
    <span class="pl">出版年：</span><span class="text">{{ book.publication_date }}</span><br>
<span class="pl">简介：</span><span class="text">{{ book.excerpt }}</span>
</div>
</div>
{% endblock body %}
{% block filter %}
<form>
	<div class="scroll-view bg-white card toc-sidebar" style="height: 100%; left: 0px;">
	<ul>
              {% for book_note in notes_list %}
                <li>
                  <a href="{{ book_note.get_absolute_url }}">{{ book_note.title }}</a>
                  {% if book_note.pk == note.pk %}
                    {{ note.toc |safe }}
                  {% endif %}
                </li>
              {% endfor %}
        </ul>
	</div>
			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-filter -->
		<a href="#0" class="cd-filter-trigger">目录</a>
{% endblock filter %}

