{% load staticfiles %}
<!doctype html>
<html lang="zh" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/media/favicon.ico">
	<link rel="stylesheet" href="{% static 'books/css/default.css' %}"> 
	<link rel="stylesheet" href="{% static 'books/css/manni.css' %}"> 
	<link rel="stylesheet" href="{% static 'books/css/style.css' %}"> 
	<script src="{% static 'books/js/modernizr.js' %}"></script> <!-- Modernizr -->
	<title>小小读书笔记本呐#^_^#</title>
</head>
<body>
	<header class="cd-header htmleaf-header">
		<a href="/">
			<h1>小小读书笔记本<span>都是人类进步的阶梯O(∩_∩)O</span></h1>
		</a>	
	</header>

	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
    			{% block category %}
    			{% endblock category %}
		</div> <!-- cd-tab-filter-wrapper -->
    		{% block body %}
    		{% endblock body %}
		<div class="cd-filter">
			{% block filter %}
			{% endblock filter %}
	</main> <!-- cd-main-content -->
<script src="{% static 'books/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'books/js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'books/js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
